akamai-edgeauth==0.3.2
certifi==2024.7.4
cffi==2.0.0
chardet==3.0.4
cryptography==46.0.7
edgegrid-python==1.1.1
idna==3.7
ndg-httpsclient==0.5.1
pyasn1==0.6.3
pycparser==2.20
pyOpenSSL==26.0.0
requests==2.32.5
six==1.16.0
urllib3==2.6.3

